@import url(./assets/CSS/navbar.css);
@import url(./assets/CSS/events.css);

*{
    margin: 0;
    padding: 0;
    margin: 0;
}

:root{
    /* Cores principais */
--primary-color: #3283b1; /*cores para botões*/
--secondary-color:#34b0ac; /* Destaques e ou componentes de apoio*/

/* Tons Complementares */
--accent-color: #f28c99;
--neutral-color: #4dc2a5;

/* Fundos e superficies */

--background-color: #ffffff;
--background-secondary: #f7f7f7;

/* Texto */

--text-primary: #333333;
--text-secondary: #757575;
--text-on-dark: #ffffff;
}

