

*{
    margin: 0;
    padding: 0;
    margin: 0;
}
/*armazena as cores do css em  var */
:root {
    /* Cores principais (branding) */
    --primary-color: #3283B1; /* Principal para botões, links ou cabeçalhos */
    --secondary-color: #34B0AC; /* Destaques ou componentes de apoio */
  
    /* Tons complementares */
    --accent-color: #F28C99; /* Destaques chamativos (CTA, botões importantes) */
    --accent-color-trans:#f28c9a91;
    --accent-color-trans-secondary:#f28c9a6b;

    --neutral-color: #4DC2A5; /* Fundo de elementos ou seções neutras */
    --neutral-color-trans:#37d8b0af;

    /* Fundos e superfícies */
    --background-color: #FFFFFF; /* Fundo principal */
    --background-secondary: #F7F7F7; /* Fundos alternativos */
    
  
    /* Texto */
    --text-primary: #333333; /* Texto principal */
    --text-secondary: #757575; /* Subtítulos ou descrições */
    --text-on-dark: #FFFFFF; /* Texto sobre fundos escuros */
  }
  



