<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Eventos</title>
</head>
<body>
    <!--Este é o formulário de cadastro de eventos-->
    
    <form>
        <div>
            <label for="name-input">Nome: </label>
            <input type="text" placeholder="name" id="name-input">
            <label for="description-text">Descrição: </label>
            <textarea cols="100" rows="5" placeholder="coloque a descrição do evento aqui" id="description-text"></textarea>
        </div>
        <div>
            <label for="cep-input">cep</label>
            <input type="number" placeholder="cep" id="cep-input">
            <label for="street-input">Rua</label>
            <input type="text" id="street-input" placeholder="Rua">
            <label for="neighborhood-input">Bairro</label>
            <input type="text" id="neighborhood-input" placeholder="Bairro">
            <label for="city-input">Cidade</label>
            <input type="text" id="city-input" placeholder="Cidade">
            <label for="state-input">Estado</label>
            <input type="text" id="state-input" placeholder="Estado">
        </div>
        <div>
            <label for="date">data</label>
            <input type="date" id="date">
        </div>
        <button id="register-btn">Cadastra</button>
    </form>
   <!-- <script type="module" src="viaCep.js"></script> -->
    <script type="module" src="../controllers/conferenceController.js"></script>
</body>
</html>