@import url(../../../global.css);
@import url(../landingPage/navbar.css);

body {
    background: linear-gradient(217deg, var(--neutral-color) -10%, #ffefef 20%, #ffffff 81%, var(--neutral-color) 96%);
}

/* 
.text-container {
    padding: 1;
    background-color: blue;
    width: 50vw;
    height: 60vh;
}

#cards-texts {
    display: flex;
    align-items: center;
    width: 50vw;
} */