

*{
    margin: 0;
    padding: 0;
    margin: 0;
}
/*armazena as cores do css em  var */
:root {
    /* Cores principais (branding) */
    --primary-color: #3283B1; /* Principal para botões, links ou cabeçalhos */
    --secondary-color: #34B0AC; /* Destaques ou componentes de apoio */
  
    /* Tons complementares */
    --accent-color: #F28C99; /* Destaques chamativos (CTA, botões importantes) */
    --neutral-color: #4DC2A5; /* Fundo de elementos ou seções neutras */
  
    /* Fundos e superfícies */
    --background-color: #FFFFFF; /* Fundo principal */
    --background-secondary: #F7F7F7; /* Fundos alternativos */
    
  
    /* Texto */
    --text-primary: #333333; /* Texto principal */
    --text-secondary: #757575; /* Subtítulos ou descrições */
    --text-on-dark: #FFFFFF; /* Texto sobre fundos escuros */
  }
  
/*fontes internas */
@font-face {
    font-family:Kanit-Black ;
    src: url(./public/font/Kanit/Kanit-Black.ttf);
}

@font-face {
    font-family:NunitoSans-Italic ;
    src: url(./public/font/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family:Kanit-ThinItalic ;
    src: url(./public/font/Kanit/Kanit-ThinItalic.ttf);
}
 
@font-face {
    font-family: Kanit-Regula ;
    src: url(./public/font/Kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family:Nunito_Sans ;
    src: url(./public/font/Nunito_Sans/OFL.txt);
}
@font-face {
    font-family:NunitoSans-VariableFont;
    src: url(public/font/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

